header {
    background-color: rosybrown;
    padding: 60px;
    text-align: center;
    font-size: larger;
    position: sticky;
    
}
.menu {
    text-align: center;
    margin: 15px;
    font-size: larger;
}
.miniatura {
    width: 200px;  
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.receta {
    width: 300px;
    padding: 15px;
    background-color: rosybrown;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.receta h3 a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}
.receta p {
    font-size: 0.9em;
    color: #353030;
}
.recetas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}